/* Custom Confluence CSS override */
/* Created by: M. DeVries */
/* Insert into "Space Stylesheet" */

/* Default Styles */
body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    margin: 30px 0 0 0;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    margin: 30px 0 0 0;
}
h3 {
    font-size: 16px;
    line-height: 1.5;
    margin: 30px 0 0 0;
}
h4 {
    font-size: 14px;
    line-height: 1.42857142857143;
    margin: 20px 0 0 0;
}
h5 {
    color: #707070;
    font-size: 12px;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}
h6 {
    color: #707070;
    font-size: 12px;
    line-height: 1.66666666666667;
    margin: 20px 0 0 0;
}

/* Code styles */

code,kbd{
    font-family: monospace;
    background: #eee;
    padding: 0 5px 2px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    margin: 0 3px 0 1px;
    font-size: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* @end Code Styles */


/* Start of ArcSight Custom Colors */

div.top {
    font-size: 100%;
}
div.top table {
    width:100%;
    background-color: #FFFFFF;
}
table {
    font-family:Ebrima;
    font-size: 100%;
}
th {font-size: 95%;
    background-color: #DDDDDD;
    text-align: left;
}
th.header {
    font-family: Ebrima;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #6699CC;
}
th.subTab {
    font-family: Ebrima;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #4169E1;
}
td {font-size: 95%;
    background-color: #EEEEEE;
}

/* @end ArcSight Custom Colors */
