/* Custom Confluence CSS override */
/* Created by: M. DeVries */
/* Insert into "Space Stylesheet" */

/* External Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans); /* Body */
@import url(//fonts.googleapis.com/css?family=Lato); /* Body */
@import url(//fonts.googleapis.com/css?family=Anton); /* H1 */
@import url(//fonts.googleapis.com/css?family=Oswald); /* H2 */
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono); /* MonoSpace */
@import url(http://weloveiconfonts.com/api/?family=fontelico); /* Icons */

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* ----------
@General 
---------- */

body{
    font-family: 'Open Sans';
}
h1, h2, h3 , h4, h5, h6{
   font-family: 'Oswald';
}
h1{
    font-size: 3em;
    line-height: 1.05em;
}
h2{
    font-size: 2.25em;
    line-height: 1.25em;
}
h3{
    font-size: 1.75em;
    line-height: 1.25em;
}
h4{
    font-size: 1.125em;
    line-height: 1.22222222em;
}


/* ----------
@Code
---------- */

code,kbd{
    font-family: 'Ubuntu Mono';
    background: #eee;
    padding: 0 5px 2px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    margin: 0 3px 0 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* ----------
@Panel
---------- */

.panel {
    border: 0px !important;
}

/* ----------
@Wiki Content
---------- */

.wiki-content .innerCell {
    overflow-x: inherit;
}

/* ----------
@Custom ArcSight Rule Export CSS
---------- */

div.top {
    font-size: 100%;
}
div.top table {
    width:100%;
    background-color: #FFFFFF;
}
table {
    font-family:Ebrima;
    font-size: 100%;
}
th {font-size: 95%;
    background-color: #DDDDDD;
    text-align: left;
}
th.header {
    font-family: Ebrima;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #6699CC;
}
th.subTab {
    font-family: Ebrima;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #4169E1;
}
td {font-size: 95%;
    background-color: #EEEEEE;
}

/* @end ArcSight Custom Colors */
